/* Updated Po CSS */
*{
    margin:0;
}
.po-cover {
    overflow: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  .po-left-column {
    flex: 1;
    overflow: auto;
    width:30%;
  }
  
  .po-right-column {
    flex: 1;
    overflow: auto;
  }
  
  .po-accordion-title,
  .po-acc-item {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: #0066c0;
    color: white;
    transition: background-color 0.3s;

  }
  
  .po-accordion-title:hover,
  .po-acc-item:hover {
    background-color: #005cbf;
  }
  
  .po-accordion-title.selected,
  .po-acc-item.selected {
    background-color: black;
  }
  
  .po-vendor-info,
  .po-quote-info,
  .po-upload-buttons {
    margin-top: 10px;
  }
  
  .po-quote-amount {
    font-weight: bold;
  }
  
  .po-download-button {
    display: block;
    padding: 5px;
    margin-top: 5px;
    background-color: #0066c0;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .po-download-button:hover {
    background-color: #005cbf;
  }
  
  .po-pagination {
    margin-top: 10px;
    text-align: center;
  }
  
  /* Add your existing styles here */
  